body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #FFFFFF;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(210,210,210,1) 100%);
    padding: 0px;
}

.badge{
    width: 250px;
    height: 250px;
    background-color: #222;
    border-radius: 50%;
    color: #ffe23f;
    font-size: 20px;
    display: block;
    margin: 10% auto 0% auto;
    padding: auto;
    text-transform: capitalize;
}

.badge p{
    text-align: center;
    font-size: 40px;
    padding-top: 100px;
    font-weight: 800;
}

.written {
    font-size: 20px;
    text-align: center;
}

.icons {
    text-align: center;
    word-spacing: 10px;
    font-size: 40px;   
    margin-top: 10px;
}

.icons a {
    color: #000;
}

.icons a:hover {
    opacity: 0.7;
}